@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$main-color: #eb4d4b;
$text-color: #121e2c;
//font-family: 'Poppins', sans-serif;

.btn-group {
  position: relative;

  .btn {
    z-index: 5;
  }

  .cart-icon {
    display: none;
    visibility: hidden;
    transition: all 300ms linear;
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms linear;
    cursor: pointer;
  }
}

.primary-image {
  transition: all 300ms linear;
  opacity: 1;
}

.secondary-image {
  display: none;
  backface-visibility: hidden;
  transition: all 300ms linear;
}

.column:hover {
  .icon {
    opacity: 1;
    transform: translate(-500%, -50%);
  }

  .left {
    transform: translate(-500%, -50%);
    //color: #212529;
  }

  .right {
    transform: translate(400%, -50%);
  }

  .cart-icon {
    display: inline;
    visibility: visible;
  }

  .secondary-image {
    backface-visibility: visible;
    opacity: 1;
    display: inline;
  }

  .primary-image {
    display: none;
    backface-visibility: hidden;
    transition: all 300ms linear;
  }

  .btn {
    background: white;
    color: black;
    border-color: black;
  }
}
