@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$footer-bg: #151515;
$footer-text-color: #777;
$btn-bg: #e42c64;
footer {
  font-family: "Roboto", sans-serif;
  padding: 6rem 0;
  background-color: $footer-bg;
  color: $footer-text-color;
  a {
    transition: 0.3s all ease;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .footer-site-logo {
    font-size: 1.5rem;
    color: #fff;
  }
  li {
    margin-bottom: 10px;
    a {
      color: gray;
      &:hover {
        color: #fff;
      }
    }
  }
  .btn.btn-tertiary {
    background-color: $btn-bg;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    transition: 0.3s all ease;
    &:hover {
      background-color: darken($btn-bg, 20%);
    }
  }
  .socials li {
    display: inline-block;
    a {
      color: gray;
      padding: 7px;
      &:hover {
        color: #fff;
      }
    }
  }
  .copyright {
    border-top: 1px solid #404040;
  }
}
